@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CAMM</h1>
    <p class="lead">Cable Assembly Manufacturing Management</p>
    <p>Take a look at the source code in my GitHub repository, https://github.com/MichaelBross/camm </p>
    <p><a href="https://github.com/MichaelBross/camm" class="btn btn-primary btn-lg">GitHub Repository &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Objective</h2>

        <p>The name CAMM is an acronym that stands for Cable Assembly Manufacturing Management. The objective to the project is to produce a web based app with the following features.</p>

        <ol>
            <li>Management of Work Order, Item, Bill of Material, Document, Connector, Tool, Adapter, and Employee data.</li>
            <li>Provide a means to upload documents and link the documents to Items, Assemblies, Connectors, Tools, and Adapters.</li>
            <li>Provide a means for the user to link Tools and Adapters to Connectors.</li>
            <li>By entering a work order number, begin time tracking by work order, and display links to all required information and documents.</li>
        </ol>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Currently the Work Orders tab is the only data driven page in the app. Feel free to test it by entering, searching, editing, and deleting work order entries.
        </p>
        <p><a class="btn btn-default" href="/WorkOrders/Index">Try the Work Orders tab &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>This project is hosted on Microsoft Azure.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>